<input type="text" ng-model="data" />
	<div class="modal-view">
	    <div>
		    <div>Bootcamp Name: </div><input ng-model="">
		    <div>Program Length: </div><input ng-model="">
		    <div>Avg Class Size: </div><input ng-model="">
		    <div>Languages / Frameworks:</div><input ng-model="">
		    <div>Cost</div><input ng-model="">
		    <div>Housing:</div><input ng-model="">
	    </div>

	  <div class="modal-footer">
	    <button class="btn btn-primary" ng-click="submit()">Submit</button>
	    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
	 	</div>
	</div>