<form class="modal-view">
  <div class="form-group">
    <label for="exampleInputEmail1">Bio</label>
    <input type="text" class="form-control" id="exampleInputEmail1" ng-model='bio' placeholder="Bio">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Bootcamp</label>
    <input ng-model='bootcamp' type="text" class="form-control" id="exampleInputPassword1" placeholder="Bootcamp attended">
  </div>
  <div class="form-group">
    <label for="skills">Skills</label>
    <input ng-model='skills' type="text" class="form-control" id="exampleInputPassword1" placeholder="Skills">
  </div>
    <div class="form-group">
    <label for="gradYear">Graduation Year</label>
    <input ng-model='gradYear' type="text" class="form-control" id="exampleInputPassword1" placeholder="Graduation Year">
  </div>
	  <div class="radio">
	  	<label>
	      <input ng-model='experience.level' type="radio" name="optionsRadios" value='Never Coded'  checked>
	      Never Coded
	    </label>
	  </div>
	  <div class="radio">
	    <label>
	      <input ng-model='experience.level' type="radio" name="optionsRadios" value='Beginner'>
	      Beginner
	    </label>
	  </div>
	  <div class="radio">
	    <label>
	      <input ng-model='experience.level' type="radio" name="optionsRadios" value='Intermediate'>
	      Intermediate
	    </label>
	  </div>
	  <div class="radio">
	    <label>
	      <input ng-model='experience.level' type="radio" name="optionsRadios" value="Advanced">
	      Advanced
	    </label>
	  </div>
	  <div class="modal-footer">
		    <button class="btn btn-primary" ng-click="submit()">Submit</button>
		    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
		</div>
	</div>
</form>