/*Fixed Navbar--------------------------------- */

body, html {
  width: 100%;
  height: 100%;
  background-image: url("/images/squairy_light.png"); 
  font-family: 'Cabin';
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}
.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100px;
  background-color: #565A5C;
  margin-right: 0px;
}

.logo-box {
  width: 5%;
  height: 70%;
  background: #FF4486;
  margin-left: 20px;
  color: white;
  text-align: center;
  padding-top: 20px;
  margin-top: 10px;
  border-radius: 8px;
}

.app-name {
  font-family: 'Oleo Script', cursive;
  font-size: 15px;
}

.github-icon {
  float: right;
  margin-right: 10px;
  margin-top: 120px;
}
.btn-group {
  float: right;
  margin-top: 40px;
  margin-right: 88px;
  font-family: 'Cabin';
}

.github-icon {
  float: right;
  margin-top: 40px;
  margin-right: 5px;
}


/*end fixed fixed-nav-bar*/


/*homepage -------------------------------*/

.banner-wrapper {
  width: 100%;
  height:450px;
  /*background: #EDEDED;*/
  padding: 30px;
}
.banner-container {
  display: flex;
  width: 80%;
  height: 310px;
  background: white;
  margin: auto;
  margin-top: 100px;
  border-radius: 6px;
}
.box {
  width: 50%;
 /* border: 1px solid black;*/
  text-align: center;
  vertical-align: middle;
}

.welcome-message {
  margin-top: 40px;
  margin-left: 20px;
  /*padding: 5px 10px;*/
  text-align: left;
}

.hi {
  font-family: 'Bevan', cursive;
}

.the-message {
  font-family: 'Cabin';
  font-size: 30px;
}

.button-container {
  width: 100%;
  height: 50%;
  /*border: 1px solid black;*/
}

.col-md-12 {
  height: 155px;
}

.btn-group-lg {
  height: 110px;
  width: 350px;
  margin: 40px;
  border-radius: 6px;
  transition: all 0.3s ease 0s;
}

.lets-roll:hover {
  background: #286090;
}

.more-info:hover {
  background: #C9C5C5;
}

.top-button {
  color: white;
  margin-bottom: 10px;
  background: #337ab7;
}

.bottom-button {
  margin-top: 1px;
  background: #F3F3F3;
}

.button-message {
  width: 70%;
  height: 100%;
 /* border: 1px solid black;*/
}

.button-message {
  font-family: 'Bevan', cursive;
  font-size: 34px;
  width: 100%;
  padding-top: 15px;
  padding-left: 10px;
}

.button-icon {
  width: 40%;
  height:100%;
  /*border: 1px solid black;*/
}

.glyphicon-circle-arrow-right {
  font-size: 55px;
  margin-top: 30px;
}

.glyphicon-question-sign {
  font-size: 55px;
  margin-top: 30px;
}

.button-icon-2 {
  width: 40%;
  height: 100%;
 /* border: 1px solid black;*/
}

register css-------------------
.register-buttons {
  margin-top: 120px;
  margin-left: 30px;
  margin-right: 30px;
}

/*Modals*/
.modal-content {
  margin-top: 120px;
  z-index: 10;
}
.modal-view {
  margin: 15px;
}

/*end modals-----------------------------*/



.three-div-container {
  display: flex;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
}


.div-dimensions{
  width: 30%;
  height: 400px;
  background-color: white;
  border-radius: 6px;
  margin: 20px;
  padding: 10px;
}

.half-dimension {
  height: 50%;
  text-align: center;
}

.left-image {
  background-image: url("/images/reddit.png");
  background-size: contain;
}

.middle-image {
  background-image: url("/images/padmapper.png");
  background-size: contain;
}

.right-image {
  background-image: url("/images/ycombinator.png");
  background-size: contain;
}

.sample_project {
  font-family: 'Bevan', cursive;
}

.text-desc {
 padding: 10px;
 font-size: 15px;
 font-family: 'cabin';
 }

.center-div {
  width: 61%;
  margin-left: 20px;
  font-size: 15px;
  padding-bottom: 20px;

}

.what_is_container {
  margin-bottom: 30px;
}

.app_desc {
  margin-bottom: 30px;
  padding: 0px 20px;
}

.browse-projects {
  text-align: center;
}

.mini-div {
  background-image: url("/images/DSC_0008-12.png");
  background-size: contain;
  width: 150px;
  height: 100px;
  margin: 5px;
  border-radius: 6px;
}

.btn-lg {
  color: white;
  background-color: #337ab7; 
  position:relative;
  font-family: 'Cabin';
  transition: all 0.3s ease 0s;

}

.continue {
  margin-left: 280px;
}

.continue:hover {
  background: #286090;

}

.go:hover {
  background: #286090;
}

.flex-container {
  display: flex;
}

.what-is {
  text-align: center;
}

/*.some-padding {
  padding: 10px;
}*/

/*.button-styling {
  border-radius: 6px;
  height: 50px;
}*/

.text-div {
  outline: solid black;
}

.mini-footer {
  padding-left: 5px;
  padding-top: 15px;
}


/*end--homepage -------------------------------*/

/*login view ---------------------------------------- */






/*end login view -----------------------------------------*/





/*Project View*/
.main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

}

.loading-overlay {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.project-container {
  padding: 5px 5px;
}

.project-images{
  height: 300px;
  width: 300px;
  margin: 10px;
}



