


/*register css-------------------*/
.register_container {
  margin-top: 0px;
  width: 100%;
  height: 100%;
/*  border: 1px solid black;*/
}

.register-buttons {
/*  border: 1px solid black;*/
  text-align: center;
  font-size: 40px;
  }

.btn-lg {
  background-color: #0090C5;
  color: white;
}

.share {
  width: 50%;
  float: left;
  font-family: 'cabin';
}

.register {
  height: 200px;
  width: 400px;
  border-radius: 8px;
  font-family: 'Bevan', cursive;
  font-size: 20px;
  transition: all 0.3s ease 0s;
}

.register:hover {
  background: #286090;
}

.register_text {
  font-size: 40px;
}

/*Modals*/
.modal-content{
  margin-top: 20px;
  z-index: 10;
}
.modal-view {
  margin: 15px;
}

/*end modals-----------------------------*/

/*Project View*/

.main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;

}

.loading-overlay {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
/*.project-container {
  padding: 5px 5px;
}*/

.project-images{
  height: 300px;
  width: 300px;
  margin: 10px;
}
.unverified-users {
  width: 300px;
  height: 600px;
  margin: 10px 0px 10px 0px;
  flex-grow: 1;
  border: 1px solid black;
  background-color: white;
  float: left;
}
.verification-fun {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
}

/*toggle button bootcamp dashboard*/

/*
look at the weird glitch on the 6th button. something to do with color vs background-color. or did i fuck up?
*/

*, *:before, *:after {
   -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}
body {
  font-family:'Helvetica', sans-serif; 
}

/*Students bootcamp dashboard*/
.unverified-container {
  width: 40%;
  height: 100%;
  float: left;
  /*border: 1px solid black;*/
  text-align: center;
  background: white;
  border-radius: 6px;
  padding-top: 10px;
  margin-left: 120px;
}

.verified-container {
  width: 40%;
  height: 100%;
  float: right;
  /*border: 1px solid black;*/
  background: white;
  text-align: center;
  border-radius: 6px;
  padding-top: 10px;
  margin-right: 120px;
}

.user{
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  margin-bottom: 20px;
}

.student{
  font-family: 'cabin';
  font-size: 20px;
}

.student_image {
  border-radius: 6px;
  margin-left: 5px;
  margin-top: 0px;
  height: 120px;
  width: 120px;
}


/* BUTTON 4 */

.four {
  width: 200px;
}

.four .button-wrap {
  width: 100px;
  margin: 40px auto 0;
  cursor: pointer;

}
.four .button-bg {
  width: 80%;
  height: 50%;
  background-color: #bb2222;
  border-radius: 40px;
  padding: 3px;
  color:#fff;
  transition:all 0.2s ease;
}
.four .button-switch {
  position:relative;
  left:0px;
  width: 20px;
  height: 20px;
  border:solid 13px;
  background-color:#fff;
  border-radius: 36px;
  transition:all 0.2s ease;
}
.four .button-active .button-switch { left:50px;}
.four .button-in, 
.four .button-out {
  position:absolute; 
  transition:all 0.2s ease;
  padding-top:15px;
  font-size:0.8em;
  text-transform:uppercase;
  font-weight:bold;
}

.four .button-in { margin-left:76px; }
.four .button-out { margin-left:18px; }
.four .button-active .button-out {  }
.four .button-active .button-in {  }
.four .button-active .button-bg { background-color:#22bb22; }
}
