


/*register css-------------------*/


.register_container {
  margin-top: 120px;
  width: 100%;
  height: 100%;
/*  border: 1px solid black;*/
}

.register-buttons {
/*  border: 1px solid black;*/
  padding-top: 30px;
  text-align: center;
  font-size: 40px;
}

.register {
  height: 200px;
  width: 400px;
  border-radius: 8px;
  font-family: 'Bevan', cursive;
  font-size: 20px;
  transition: all 0.3s ease 0s;
}

.register:hover {
  background: #286090;
}

.register_text {
  font-size: 40px;
}

/*Modals*/
.modal-content{
  margin-top: 120px;
  z-index: 10;
}
.modal-view {
  margin: 15px;
}

/*end modals-----------------------------*/

/*Project View*/

.main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

}

.loading-overlay {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.project-container {
  padding: 5px 5px;
}

.project-images{
  height: 300px;
  width: 300px;
  margin: 10px;
}



