/*Fixed Navbar--------------------------------- */

body, html {
  width: 100%;
  height: 100%;
  margin: 0px;
  background-image: url("/images/squairy_light.png"); 
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}
.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100px;
  background-color: #565A5C;
  margin-right: 0px;
}

.logo-box {
  width: 5%;
  height: 70%;
  background: #FF4486;
  margin-left: 20px;
  color: white;
  text-align: center;
  padding-top: 20px;
  margin-top: 10px;
  border-radius: 8px;
}

.app-name {
  font-family: 'Oleo Script', cursive;
  font-size: 15px;
}

/*.github-icon {
  float: right;
  margin-right: 10px;
  margin-top: 80px;
}*/
.btn-group {
  float: right;
  margin-top: 40px;
  margin-right: 88px;
}





/*homepage -------------------------------*/

.banner-wrapper {
  width: 100%;
  height:450px;
  /*background: #EDEDED;*/
  padding: 30px;
}
.banner-container {
  display: flex;
  width: 80%;
  height: 310px;
  background: white;
  margin: auto;
  margin-top: 100px;
  border-radius: 6px;
}
.box {
  width: 50%;
 /* border: 1px solid black;*/
  text-align: center;
  vertical-align: middle;
}

.welcome-message {
  margin-top: 40px;
  margin-left: 20px;
  /*padding: 5px 10px;*/
  text-align: left;
}

.hi {
  font-family: 'Bevan', cursive;
}

.the-message {
  font-family: 'Cabin';
  font-size: 30px;
}

.button-container {
  width: 100%;
  height: 50%;
  /*border: 1px solid black;*/
}

.col-md-12 {
  height: 155px;
}

.btn-group-lg {
  height: 110px;
  width: 350px;
  margin: 40px;
  border-radius: 6px;
  transition: all 0.3s ease 0s;
}

button:hover {
  background: #286090;
}

.top-button {
  color: white;
  margin-bottom: 10px;
  background: #337ab7;
}

.bottom-button {
  margin-top: 1px;
  background: #F3F3F3;
}

.button-message {
  width: 70%;
  height: 100%;
 /* border: 1px solid black;*/
}

.button-message {
  font-family: 'Bevan', cursive;
  font-size: 34px;
  width: 100%;
  padding-top: 15px;
  padding-left: 10px;
}

.button-icon {
  width: 40%;
  height:100%;
  /*border: 1px solid black;*/
}

.glyphicon-circle-arrow-right {
  font-size: 55px;
  margin-top: 30px;
}

.glyphicon-question-sign {
  font-size: 55px;
  margin-top: 30px;
}

.button-icon-2 {
  width: 40%;
  height: 100%;
 /* border: 1px solid black;*/
}

/*register css*/
.register-buttons {
  margin-top: 80px;
}

/*Modals*/
.modals {
  margin-top: 120px;
  z-index: 10;
}
.modal-view {
  margin: 15px;
}




