/*Fixed Navbar--------------------------------- */
body, html {
  width: 100%;
  height: 100%;
  margin: 0px;
  background-image: url("/images/squairy_light.png"); 
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}
.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100px;
  background-color: #565A5C;
  margin-right: 0px;
}

.logo-box {
  width: 5%;
  height: 70%;
  background: #FF4486;
  margin-left: 20px;
  color: white;
  text-align: center;
  padding-top: 20px;
  margin-top: 10px;
  border-radius: 8px;
}

.github-icon {
  float: right;
  margin-right: 10px;
  margin-top: 120px;
}

.btn-group {
  float: right;
  margin-top: 40px;
  margin-right: 88px;
}

.btn-primary {
  background: #0090C5;
}

/*homepage -------------------------------*/

.banner-wrapper {
  width: 100%;
  height:450px;
  /*background: #EDEDED;*/
  padding: 30px;
}
.banner-container {
  display: flex;
  width: 80%;
  height: 310px;
  background: white;
  margin: auto;
  margin-top: 100px;
  border-radius: 6px;
}
.box {
  width: 50%;
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
}

.welcome-message {
  margin-top: 150px;
}

.button-container {
  width: 100%;
  height: 50%;
  border: 1px solid black;
}

.col-md-12 {
  height: 155px;
}

.btn-group-lg {
  background: #0090C5;
  height: 110px;
  width: 350px;
  margin: 40px;
  border-radius: 8px;
}

.top-button {
  margin-bottom: 10px;
}

.bottom-button {
  margin-top: 1px;
}

.button-message {
  width: 60%;
  height: 100%;
  border: 1px solid black;
}

/*.button-icon {
  width: 40%;
  height:100%;
  border: 1px solid black;
}*/

/*.button-icon-2 {
  width: 40%;
  height: 100%;
  border: 1px solid black;
}*/

/*register css*/
.register-buttons {
  margin-top: 120px;
}

/*Modals*/
.modals {
  margin-top: 120px;
  z-index: 10;
}
.modal-view {
  margin: 15px;
}

/*end fixed navbar*/


/* js/views/homeTmpl.html  */

.three-div-container {
  display: flex;
  width: 100%;
  padding: 100px 0 30px 90px;

  background-color: orange;
}

.div-dimensions{
  width: 30%;
  height: 400px;
  background-color: red;
  border-radius: 6px;
  margin: 5px;
}

.half-dimension {
  height: 50%;
}
