
<div id="header-wrapper">
	<header id="header" class="container">
		<!-- Logo -->
			<div id="logo">
				<h1><a href="#/">ngShowCase()</a></h1>
			</div>	
		<!-- Nav -->
		<nav id="nav">
			<ul>
				<li><a href="#/projects">Projects</a></li>
				<li><a ng-click="logout()">Logout</a></li>
			</ul>
		</nav>	
	</header>
</div>


<div class='user' ng-repeat='student in unverified track by $index'>

	<div class='student'>{{student.name}}
		<img height='75px' width='75px' ng-src='{{student.profilePic}}'>
	</div>
	<div class="four">
	  <div class="button-wrap" ng-class="{ 'button-active' : unverifiedActive}" ng-click='verify(student)' ng-click='unverifiedActive= !unverifiedActive'>
	    <div class="button-bg">
	      <div class="button-out"></div>
	      <div class="button-in"></div>
	      <div class="button-switch"></div>
	    </div>
	  </div>
	</div>
</div>



