
<div id="header-wrapper">
<header id="header" class="container">
				
					<!-- Logo -->
		<div id="logo">
			<h1><a href="#/">App Name</a></h1>
		</div>
	
	<!-- Nav -->
	<nav id="nav">
		<ul>
			<li><a href="#/">Home</a></li>
			<li><a href="right-sidebar.html">Dashboard</a></li>
			<li><a href="/auth/github">Sign in with Github</a></li>
		</ul>
	</nav>
	
</header>
</div>
</br>
</br>
</br>
</br>
</br>

<div clas='user' ng-repeat='student in unverified track by $index'>
	<div class='student'>{{student.name}}
	<img height='75px' width='75px' ng-src='{{student.profilePic}}'>
	</div>
	<div class="four">
	  <div class="button-wrap" ng-class="{ 'button-active' : unverifiedActive}" ng-click='verify(student)' ng-click='unverifiedActive= !unverifiedActive'>
	    <div class="button-bg">
	      <div class="button-out"></div>
	      <div class="button-in"></div>
	      <div class="button-switch"></div>
	    </div>
	  </div>
	</div>
</div>

<div clas='user' ng-repeat='student in verified'>
	<div class='student'>{{student.name}}
	<img  height='75px' width='75px' ng-src='{{student.profilePic}}'
	</div>
	<div class="four">
	  <div class="button-wrap" ng-class="{ 'button-active' : verifiedActive}" ng-click='unverify(student)' ng-click='verifiedActive= !verifiedActive' >
	    <div class="button-bg">
	      <div class="button-out"></div>
	      <div class="button-in"></div>
	      <div class="button-switch"></div>
	    </div>
	  </div>
	</div>
</div>



<!-- <div class="thumbnail" data-drop="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px;' jqoui-draggable='{animate:true'>
  <div class="btn btn-success" data-drag="false" data-jqyoui-options ng-model="list2" jqyoui-draggable ng-hide="!list2.title">{{user.name}}</div>
</div> -->

