
<div class='github-icon'>
		<form method="get" action="/auth/github">
			<button class="btn btn-social btn-github">
	  		<i class="fa fa-github"></i> Sign in with Github
			</button>
		</form>
</div>	

<!-- this is in index.html navbar -->

<div class="banner-wrapper">
	<div class="banner-container">
		<div class="left box">
			<div class="welcome-message">
				<h1 class="hi">Hi. This is _____</h1>
				<p class="the-message">skjsdbnfkjsdnfksdjnfkjn kjsdfnskjdnfkjsdnf kjsdnfskjdnfkjsdnf ksdnfsdnf</p>

			</div>
		</div>
		<div class="right box">
			<div class="col-md-12 button-container">
				<button type="button" class="btn-group btn-group-lg top-button lets-roll">
					<div class="col-md-8 button-message">
						<p class="button-message">Let's roll</p>
					</div>
					<div class="col-md-4 button-icon">
						<span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span>
					</div>
				</button>
			</div>
			<div class="col-md-12 button-container">
				<button type="button" class="btn-group btn-group-lg bottom-button more-info">
					<div class="col-md-8 button-message">
						<p class="button-message">More info</p>
					</div>
					<div class="col-md-4 button-icon">
						<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
					</div>
				</button>
			</div>
		</div>
	</div>
</div>

<!-- this is in index.html navbar -->

<!-- 3 column div -->

<div class="three-div-container">

	<div class="div-dimensions">
		<div class="half-dimension left-image"></div>
		<div class="half-dimension">
			<h3 class="sample_project">Project Title</h3>
			<h4>Subtitle<h4>
			<p class="text-desc">ksj dnakjs ndkajsn dasdas dasd asda sddas das das dasda sdasd kjasdnbjkas kajlnsdkjasnd kjnasdkj kajsnd kjnasdk jaijdioqw ioqweioq oiqweoiqjwe oijqwe oqejo qiojwe oqijeqo eoqije oqjewoqj e</p>
		</div>
	</div>

	<div class="div-dimensions">
		<div class="half-dimension middle-image"></div>
		<div class="half-dimension">
			<h3 class="sample_project">Project Title</h3>
			<h4>Subtitle<h4>
			<p class="text-desc">ksj dnakjs ndkajsn dasdas dasd asda sddas das das dasda sdasd</p>
		</div>
	</div>

	<div class="div-dimensions">
		<div class="half-dimension right-image"></div>
		<div class="half-dimension">
			<h3 class="sample_project">Project Title</h3>
			<h4>Subtitle<h4>
			<p class="text-desc">ksj dnakjs ndkajsn dasdas dasd asda sddas das das dasda sdasd</p>
		</div>
	</div>

</div>

<!-- interesting stuff div -->

<div class="three-div-container">

	<div class="div-dimensions browse-projects">
			<h1 class="hi">Browse Projects</h1>
			<div class="flex-container">
				<div class="mini-div">

				</div>
				<div class="mini-div">

				</div>
			</div>
			<div class="flex-container">
				<div class="mini-div">

				</div>
				<div class="mini-div">

				</div>
			</div>
			<div class="mini-footer">
				<div class="more-button">
					<button class="btn-lg go">Go</button>
				</div>
			</div>
	</div>

	<div class="div-dimensions center-div">
			<div class="what_is_container">
			<h1 class="hi what-is">What is automagically?</h1> 
			</div>
				<div class="app_desc">
					<p>Centering things in CSS is the poster child of CSS complaining. Why does it have to be so hard? They jeer. I think the issue isn't that it's difficult to do, but in that there so many different ways of doing it, depending on the situation, it's hard to know which to reach for.So let's make it a decision tree and hopefully make it easier.I need to center...</p>
					<p>Centering things in CSS is the poster child of CSS complaining. Why does it have to be so hard? They jeer. I think the issue isn't that it's difficult to do, but in that there so many different ways of doing it, depending on the situation, it's hard to know which to reach for.So let's make it a decision tree and hopefully make it easier.I need to center...</p>
				</div>
			<button class="btn-lg continue">More About</button> 
			<!-- Maybe have button jump to an about page??? -->
	
	</div>

</div>
