<div id="header-wrapper" ng-controller="homeCtrl">
				<header id="header" class="container">
				
					<!-- Logo -->
						<div id="logo">
							<h1><a href="#/">App Name</a></h1>
						</div>
					
					<!-- Nav -->
						<nav id="nav">
							<ul>
								<!-- <li class="current"><a href="index.html">Welcome</a></li>
								<li>
									<a href="">Dropdown</a>
									<ul>
										<li><a href="#">Lorem ipsum dolor</a></li>
										<li><a href="#">Magna phasellus</a></li>
										<li>
											<a href="">Phasellus consequat</a>     
											<ul>
												<li><a href="#">Lorem ipsum dolor</a></li>
												<li><a href="#">Phasellus consequat</a></li>
												<li><a href="#">Magna phasellus</a></li>
												<li><a href="#">Etiam dolore nisl</a></li>
											</ul>
										</li>
										<li><a href="#">Veroeros feugiat</a></li>
									</ul>
								</li> -->
								<li><a href="#/">Home</a></li>
								<li><a href="right-sidebar.html">Dashboard</a></li>
								<li><a href="no-sidebar.html">Sign in with Github</a></li>
								<li><a href="left-sidebar.html"></a></li>
							</ul>
						</nav>
					
				</header>
			</div>

<div class='github-icon'>
	<ul>
		<form method="get" action="/auth/github">
			<button class="btn btn-social btn-github" ng-click='login('>
	  		<i class="fa fa-github"></i> Sign in with Github
			</button>
		</form>
	</ul>
</div>	




