
<div id="header-wrapper">
	<header id="header" class="container">			
	<!-- Logo -->
		<div id="logo">
			<h1><a href="#/">ngShowCase()</a></h1>
		</div>				
		<!-- Nav -->
		<nav id="nav">
			<ul>
				<li><a href="#/user/dashboard">Dashboard</a></li>
				<li><a href="" ng-click="logout()">Logout</a></li>
			</ul>
		</nav>				
	</header>
</div>



<div class='loading-overlay' ng-show='showSpinner'>
	<cube-grid-spinner></cube-grid-spinner>
</div>


<div class="container register-buttons">
	<button ng-click='openProject()' class='btn btn-danger btn-lg btn-block'>Share Project</button>
</div>

<div class='container main-container'>
	<div class='project-container' ng-repeat="project in projects | orderBy: '-votes'">
		<ul class="grid cs-style-1">
			<li>
				<figure>
					<img class="project-img" ng-src="data:image/png;base64,{{project.img}}" alt="img01">
					<figcaption>
						<h3>{{project.projectName}}</h3>
						<span>{{project.user.name}}</span>
						<div ng-show='{{project.user.verified}}'>verified</div>
						<div>{{project.description}}</div>
						<div>{{project.languagesFrameworks}}</div>
						<a href="http://{{project.url}}" target='_blank'>{{project.url}}</a>
					</figcaption>
				</figure>
			</li>
		</ul>
		<div><button ng-click='submitVote(project)' class='glyphicon glyphicon-thumbs-up'></button>{{ project.votes}}</div>
	</div>
</div>
