<div id="header-wrapper">
	<header id="header" class="container">
		<!-- Logo -->
		<div id="logo">
			<h1><a href="#/">ngShowCase()</a></h1>
		</div>
		<!-- Nav -->
		<nav id="nav">
			<ul>
				<li class="current"><!-- <a href="index.html">Welcome</a> --></li>
				

				<li><a ng-click="logout()">Logout</a></li>

			</ul>
		</nav>
		
	</header>
</div>



<div class="register_container">
	<div class="register-buttons">
		<button ng-click='openIndividual()' class='btn-lg register'><span class="register_text">Register as an Individual</span></button>
		<br>
		<br>
		<button ng-click='openBootcamp()' class='btn-lg register'><span class="register_text">Register as a Bootcamp</span></button>
	</div>
</div>

