
<div id="header-wrapper" ng-controller="homeCtrl">
				<header id="header" class="container">
				
					<!-- Logo -->
						<div id="logo">
							<h1><a href="#/">ngShowCase()</a></h1>
						</div>
					
					<!-- Nav -->
						<nav id="nav">
							<ul>
								<!-- <li class="current"><a href="index.html">Welcome</a></li>
								<li>
									<a href="">Dropdown</a>
									<ul>
										<li><a href="#">Lorem ipsum dolor</a></li>
										<li><a href="#">Magna phasellus</a></li>
										<li>
											<a href="">Phasellus consequat</a>
											<ul>
												<li><a href="#">Lorem ipsum dolor</a></li>
												<li><a href="#">Phasellus consequat</a></li>
												<li><a href="#">Magna phasellus</a></li>
												<li><a href="#">Etiam dolore nisl</a></li>
											</ul>
										</li>
										<li><a href="#">Veroeros feugiat</a></li>
									</ul>
								</li> -->
								<li><a href="#/">Home</a></li>
								<li><a href="right-sidebar.html">Dashboard</a></li>
								<li><a href="no-sidebar.html">Sign in with Github</a></li>
								<li><a href="left-sidebar.html"></a></li>
							</ul>
						</nav>
					
				</header>
			</div>

<div ng-repeat = 'img in projects'>
	<img class="project-images" src="data:image/png;base64,{{img.img}}">
	<button ng-click='removeProject(img._id)' type='button', class='btn btn-default btn-sm' >
		<span class='glyphicon glyphicon-remove' aria-hidden='true'></span>
	</button>
</div>

